body {
    background-image: url("https://wallpaperaccess.com/full/328890.jpg");
    
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    text-align: center;
    color: whitesmoke;
}
.ui.cards {
    margin: 106px;
}

#game-thumb-1,
#game-thumb-2,
#game-thumb-3 {
  width: 100%;
}

/*****************
AB
******************/

.searchInput{
    font-size: unset;
}
.searchIcon{
    size: unset;
}