body {
    background-image: url("https://wallpaperaccess.com/full/772418.jpg");
    min-height: 100vh;
}

div.ui.segment {
    background-image: url("https://t4.ftcdn.net/jpg/02/08/90/41/240_F_208904171_ZCPXQXNfHV3L7QzYGp7rkeFfma7gBfGb.jpg");
    /* background-size: auto; */
}

.vis-hidden {
    visibility: hidden;
}

h1 {
    font-family: 'Fruktur', cursive;
    font-size: 40px;
}

h1,
h2,
h3 {
    text-align: center;
}

.ui.items>.item {
    background-color: rgba(255, 255, 255, .9);
}

#game-thumb-1,
#game-thumb-2,
#game-thumb-3 {
  width: 100%;
}
