body {
    background-image: url("https://wallpaperaccess.com/full/328890.jpg");
    
}

.header:hover{
    background-color: black;
    color: red;
}

h1{
    font-family: 'Fruktur', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: red;
}

.sixteen{
    text-align: center;
}

#gameButton{
    background-color: white;
    color: black;
    font-size: 30px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: red;
    margin-bottom: 10px;
    width: 300px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Fruktur', cursive;
    letter-spacing: 2px;
}

#gameButton:hover{
    background-color: black;
    color: red;
    border-color: white;
}

.header {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    text-align: center;
    color: whitesmoke;
}

.ui.cards {
    margin: 106px;
}

#game-thumb-1,
#game-thumb-2,
#game-thumb-3 {
  width: 100%;
}